<mat-tab-group>
  <!-- SEARCH A BOOKMARK -->
  <mat-tab label="Search a Bookmark">

    <mat-card>
      <h1>Search a Bookmark</h1>
      <mat-form-field>
        <input matInput [(ngModel)]="bookmarkToSearch.name" placeholder="Name of the bookmark?">
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="bookmarkToSearch.resourceName" placeholder="Name of one of its resources?">
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="bookmarkToSearch.resourceUrl" placeholder="Url of one of its resources?">
      </mat-form-field>

      <button mat-raised-button (click)="searchBookmarks()">Search bookmarks</button>
      <button mat-raised-button (click)="initSearch()">Reset search criterias </button>
      <mat-spinner [style.display]="showSearchSpinner ? 'block' : 'none'"></mat-spinner>
    </mat-card>

    <br *ngIf="!!searchedBookmarks">

    <mat-card *ngIf="!!searchedBookmarks">
      <h1>Bookmarks Searched</h1>
      <div *ngFor="let bookmark of searchedBookmarks; index as index">
        <mat-card>
          <pre>{{ bookmark | json }}</pre>
          <button mat-raised-button (click)="showUpdateForm(bookmark)">Update bookmark</button>
          <button mat-raised-button (click)="deleteBookmark(bookmark, index)">Delete bookmark</button>
          <app-bookmark-form *ngIf="bookmark.showUpdateInputs"
                            [(model)]="searchedBookmarks[index].persisted"
                            (afterBookmarkSaved)="displayBookmarkUpdated($event)">
          </app-bookmark-form>
        </mat-card>
        <br />
      </div>
    </mat-card>
  </mat-tab>

  <!-- SAVE A BOOKMARK -->
  <mat-tab label="Save a new bookmark">
    <app-bookmark-form (afterBookmarkSaved)="displayBookmarkSaved($event)"></app-bookmark-form>

    <br *ngIf="!!savedBookmarks">

    <mat-card *ngIf="!!savedBookmarks">
      <h1>Bookmark Saved</h1>
      <div *ngFor="let savedBookmark of savedBookmarks; first as isFirst">
        <br *ngIf="!isFirst">
        <mat-card>
          <pre>{{ savedBookmark | json }}</pre>
        </mat-card>
      </div>
    </mat-card>
      
  </mat-tab>
</mat-tab-group>