<mat-card>
  <h1>Save a new movie</h1>
  <mat-form-field>
    <input matInput id="title" [(ngModel)]="model.title" placeholder="Title of the movie?">
  </mat-form-field>

  <mat-form-field>
    <input matInput id="year" [(ngModel)]="model.year" placeholder="Released year?">
  </mat-form-field>

  <mat-form-field>
    <input matInput id="imdb" [(ngModel)]="model.imdb" placeholder="Imdb link?">
  </mat-form-field>
  
  <button mat-raised-button (click)="saveMovie()">Save movie</button>
  <button mat-raised-button (click)="reinitSave()">Reinit inputs</button>
  <mat-spinner [style.display]="showSaveSpinner ? 'block' : 'none'"></mat-spinner>
</mat-card>