<!doctype HTML>
<html>
  <head><title>Movie Form</title></head>
  <body>
     <form action="/search_movies" method="GET">
        <p>What is the movie you want to save?</p>
          <p>
            <label>title</label><input type="text" value="{{ model.title}}" name="title" placeholder="{{ placeHolder.title }}"/>
            <label>year minimum</label><input type="number" value="{{ model.yearMin}}" name="yearMin" placeholder="{{ placeHolder.yearMin }}"/>
            <label>year maximum</label><input type="number" value="{{ model.yearMax}}" name="yearMax" placeholder="{{ placeHolder.yearMax }}"/>
            <label>imdb</label><input type="text" value="{{ model.imdb}}" name="imdb" placeholder="{{ placeHolder.imdb }}"/>
          </p>
        <input type="submit" value="Submit"/>
     </form>
     <div>
       {{ resultats }}
     </div>
  </body>
</html>