<mat-card>
  <h1>{{ title }}</h1>
  <mat-form-field>
    <input matInput id="name" [(ngModel)]="model.name" placeholder="Name of the bookmark?">
  </mat-form-field>

  <!-- <div> -->
    <mat-form-field *ngFor="let url of urlList">
      <input matInput id="{{ url.name }}" [(ngModel)]="url.link" placeholder="{{ url.name }} link?">
  </mat-form-field>
  <!-- </div> -->

  <!-- <mat-form-field>
    <input matInput id="github" [(ngModel)]="url[1].link" placeholder="Github link?">
  </mat-form-field> -->

  <mat-form-field>
    <input matInput id="web" [(ngModel)]="model.web" placeholder="Official website link?">
  </mat-form-field>
  
  <button mat-raised-button (click)="saveBookmark()">Save bookmark</button>
  <button mat-raised-button (click)="reinitSave()">Reinit inputs</button>
  <mat-spinner [style.display]="showSaveSpinner ? 'block' : 'none'"></mat-spinner>
</mat-card>