<mat-tab-group>
	<!-- SEARCH A BOOKMARK -->
	<mat-tab label="Search a bookmark">

		<mat-card>
			<h1>Search a Bookmark</h1>
			<mat-form-field>
				<input matInput [(ngModel)]="bookmarkToSearch.name" placeholder="Name of the bookmark?">
			</mat-form-field>

			<mat-form-field>
				<input matInput [(ngModel)]="bookmarkToSearch.resourceName" placeholder="Name of one of its resources?">
			</mat-form-field>

			<mat-form-field>
				<input matInput [(ngModel)]="bookmarkToSearch.resourceUrl" placeholder="Url of one of its resources?">
			</mat-form-field>

			<button mat-button (click)="searchBookmarks()">
				<mat-icon class="mat-icon-search">search</mat-icon>
				Search bookmarks
			</button>
			<button mat-button (click)="initSearch()">
				<mat-icon class="mat-icon-replay">replay</mat-icon>
				Reset search criterias
			</button>
			<mat-spinner [style.display]="showSearchSpinner ? 'block' : 'none'"></mat-spinner>
		</mat-card>

		<br *ngIf="!!searchedBookmarks">

		<mat-card *ngIf="!!searchedBookmarks">
			<h1>Bookmarks Searched</h1>
			<div *ngFor="let bookmark of searchedBookmarks; index as index">
				<mat-card>
					<pre>_id: {{ bookmark.persisted._id | json }}</pre>
                    <pre>name: {{ bookmark.persisted.name | json }}</pre>
                    <div *ngFor="let resource of bookmark.persisted.resources">
                        <mat-card>
                            <pre>resource: {{ resource | json }}</pre>
                            <button mat-button (click)="showUpdateResourceForm(bookmark.persisted._id, resource)">
                                <mat-icon class="mat-icon-create">create</mat-icon>
                                Update resource
                            </button>
                        </mat-card>
                        <br/>
                    </div>
					<button mat-button (click)="showUpdateForm(bookmark)">
						<mat-icon class="mat-icon-create">create</mat-icon>
						Update bookmark
					</button>
					<button mat-button (click)="deleteBookmark(bookmark, index)">
						<mat-icon class="mat-icon-delete_forever">delete_forever</mat-icon>
						Delete bookmark
					</button>
					<app-bookmark-form *ngIf="bookmark.showUpdateInputs" [(model)]="searchedBookmarks[index].persisted" (afterBookmarkSaved)="displayBookmarkUpdated($event)">
					</app-bookmark-form>
				</mat-card>
				<br />
			</div>
		</mat-card>
	</mat-tab>

	<!-- SAVE A BOOKMARK -->
	<mat-tab label="Save a new bookmark">
		<app-bookmark-form (afterBookmarkSaved)="displayBookmarkSaved($event)"></app-bookmark-form>

		<br *ngIf="!!savedBookmarks">

		<mat-card *ngIf="!!savedBookmarks">
			<h1>Bookmark<span *ngIf="savedBookmarks.length > 1">s</span> Saved</h1>
			<div *ngFor="let savedBookmark of savedBookmarks; first as isFirst">
				<br *ngIf="!isFirst">
				<mat-card>
					<pre>{{ savedBookmark | json }}</pre>
				</mat-card>
			</div>
		</mat-card>
	</mat-tab>
</mat-tab-group>