<app-movie-form (afterMovieSaved)="displayMovieSaved($event)"></app-movie-form>

<br *ngIf="!!savedMovies">

<mat-card *ngIf="!!savedMovies">
  <h1>Movie Saved</h1>
  <div *ngFor="let savedMovie of savedMovies; first as isFirst">
    <br *ngIf="!isFirst">
    <mat-card>
      <pre>{{ savedMovie | json }}</pre>
    </mat-card>
  </div>
</mat-card>

<br>

<mat-card>
  <h1>Search a Movie</h1>
  <mat-form-field>
    <input matInput id="title" [(ngModel)]="movieToSearch.title" placeholder="Title of the movie?">
  </mat-form-field>

  <mat-form-field>
    <input matInput id="yearMin" [(ngModel)]="movieToSearch.yearMin" placeholder="Minimum released year?">
  </mat-form-field>

  <mat-form-field>
    <input matInput id="yearMax" [(ngModel)]="movieToSearch.yearMax" placeholder="Maximum released year?">
  </mat-form-field>

  <mat-form-field>
    <input matInput id="imdb" [(ngModel)]="movieToSearch.imdb" placeholder="Imdb link?">
  </mat-form-field>

  <button mat-raised-button (click)="searchMovies()">Search movies</button>
  <button mat-raised-button (click)="reinitSearch()">Reinit search</button>
  <mat-spinner [style.display]="showSearchSpinner ? 'block' : 'none'"></mat-spinner>
</mat-card>

<br *ngIf="!!searchedMovies">

<mat-card *ngIf="!!searchedMovies">
  <h1>Movies Searched</h1>
  <div *ngFor="let movie of searchedMovies; index as index">
    <mat-card>
      <pre>{{ movie | json }}</pre>
      <button mat-raised-button (click)="updateMovie(movie)">Update movie</button>
      <button mat-raised-button (click)="deleteMovie(movie, index)">Delete movie</button>
      <app-movie-form *ngIf="movie.showUpdateInputs" [(model)]="searchedMovies[index]" (afterMovieSaved)="displayMovieSaved($event)"></app-movie-form>
    </mat-card>
    <br />
  </div>
</mat-card>